<!-- Header Start -->
<div class="container-fluid bg-primary py-5 px-0" style="margin-bottom: 190px;">
        <div class="row mx-0 align-items-center">
            <div class="col-lg-6 px-md-5 text-center text-lg-left">
                <h1 class="display-2 text-uppercase mb-3">Best Digital IT Tranning & Service Agency</h1>
                <p class="text-dark mb-4" id="para" ><b> Career Institute.</b> We combine the best of technologies, processes, strategies, and our extensive industry experience to enable our clients to succeed. BITI designs, implements, and supports end-to-end IT solutions and services. Our goal is to improve performance, maximize IT investments, and, ultimately, create a competitive business advantage for our customers. Our ability to integrate Information Technology services into a flexible, total single-point-of-contact (SPOC) solution is the key element of our success.</p>
                <a href="" class="btn btn-dark text-uppercase mt-1 py-3 px-5">Learn More</a>
            </div>
            <div class="col-lg-6 px-0 text-right">
                <img class="img-fluid mt-5 mt-lg-0" src="assets/img/header.png" alt="">
            </div>
        </div>
    </div>
<!-- Header End -->