<app-navbar></app-navbar>

<!-- About Start -->
<div class="container-fluid py-5 ">
    <div class="container py-5" style="margin-top: 150px;">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img class="img-fluid mb-4 mb-lg-0" src="assets/img/about.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <h1 class="display-4 text-uppercase mb-4">Next Career Institute Best digital agency</h1>
                <h5 class="text-uppercase text-primary mb-3"><b> We combine the best of technologies, processes, strategies, and our extensive industry experience to enable our clients to succeed.</b></h5>
                <p class="mb-4"> BITI designs, implements, and supports end-to-end IT solutions and services. Our goal is to improve performance, maximize IT investments, and, ultimately, create a competitive business advantage for our customers. Our ability to integrate Information Technology services into a flexible, total single-point-of-contact (SPOC) solution is the key element of our success.</p>
                <a href="" class="btn btn-primary text-uppercase py-3 px-5">Read More...</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
    <app-footer></app-footer>

