.content{
    background-color: rgb(252, 157, 15);
    text-align: center;
    padding: 70px;
    
    
}
#head{
    font-size: 50px;
}
#now a{
    color: black;
    font-size: x-large;
}#ab{
    font-size: x-large;
    color: wheat;
}